html, body {
  height: 100%;
  margin: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header {
  flex: 0 1 auto;
  align-items: center;
}

.content {
  flex: 1 1 auto;
}

/* .message-container {
  position: relative;
  left: 50%;
  top: 50%;
} */

.footer {
  flex: 0 1 40px;
}

.feed-nav-btn {
  height: 100%;
  border: 2px solid black ;
}

.feed-iframe {
  height: 700px;
  width: 100%;
  min-height: 670px;
  min-width: 1000px;
}

.feed-img {
  /* height: 700px; */
  width: auto;
  max-height: 670px;
  /* min-width: 1000px; */
}